---
http_interactions:
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?api_key=<LASTFM API KEY>&artist=65daysofstatic&format=json&method=artist.search
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Web-Node:
      - www202
      Content-Type:
      - application/json; charset=utf-8;
      X-Cms:
      - '1'
    body:
      encoding: UTF-8
      string: |
        {"results":{"opensearch:Query":{"#text":"","role":"request","searchTerms":"65daysofstatic","startPage":"1"},"opensearch:totalResults":"68","opensearch:startIndex":"0","opensearch:itemsPerPage":"30","artistmatches":{"artist":[{"name":"65daysofstatic","listeners":"436704","mbid":"0cd12ab3-9628-45ef-a97b-ff18624f14a0","url":"http:\/\/www.last.fm\/music\/65daysofstatic","streamable":"1","image":[{"#text":"http:\/\/userserve-ak.last.fm\/serve\/34\/46404977.jpg","size":"small"},{"#text":"http:\/\/userserve-ak.last.fm\/serve\/64\/46404977.jpg","size":"medium"},{"#text":"http:\/\/userserve-ak.last.fm\/serve\/126\/46404977.jpg","size":"large"},{"#text":"http:\/\/userserve-ak.last.fm\/serve\/252\/46404977.jpg","size":"extralarge"},{"#text":"http:\/\/userserve-ak.last.fm\/serve\/_\/46404977\/65daysofstatic+4312266316_916a42bda8.jpg","size":"mega"}]},{"name":"\u259165daysofstatic\u2591","listeners":"991","mbid":"","url":"http:\/\/www.last.fm\/music\/%E2%96%9165dayso[...]
