---
http_interactions:
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?album=Robbers&api_key=<LASTFM API KEY>&format=json&method=album.search
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Web-Node:
      - www105
      Content-Type:
      - application/json; charset=utf-8;
      X-Cms:
      - '1'
      X-Varnish-Host:
      - varnish4
    body:
      encoding: UTF-8
      string: |
        {"results":{"opensearch:Query":{"#text":"","role":"request","searchTerms":"Robbers","startPage":"1"},"opensearch:totalResults":"103","opensearch:startIndex":"0","opensearch:itemsPerPage":"50","albummatches":{"album":[{"name":"Robbers And Cowards","artist":"Cold War Kids","id":"3237006","url":"http:\/\/www.last.fm\/music\/Cold+War+Kids\/Robbers+And+Cowards","image":[{"#text":"http:\/\/userserve-ak.last.fm\/serve\/34s\/11177203.jpg","size":"small"},{"#text":"http:\/\/userserve-ak.last.fm\/serve\/64s\/11177203.jpg","size":"medium"},{"#text":"http:\/\/userserve-ak.last.fm\/serve\/126\/11177203.jpg","size":"large"},{"#text":"http:\/\/userserve-ak.last.fm\/serve\/300x300\/11177203.jpg","size":"extralarge"}],"streamable":"1","mbid":""},{"name":"Robbers & Cowards","artist":"Cold War Kids","id":"3251702","url":"http:\/\/www.last.fm\/music\/Cold+War+Kids\/Robbers+&+Cowards","image":[{"#text":"http:\/\/userserve-ak.last.fm\/serve\/34s\/9197957.jpg","size":"small"},{"#text":"http:\/\/userserve-ak.last.fm\/serve\/64s\/9197957.jpg","size":"medium"},{"#text":"http:\/\/userserve-ak.last.fm\/serve\/126\/9197957.jpg","size":"large"},{"#text":"http:\/\/userserve-ak.last.fm\/serve\/300x300\/9197957.jpg","size":"extralarge"}],"streamabl[...]
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?album=Robbers%20%26%20Cowards&api_key=<LASTFM
      API KEY>&format=json&method=album.search
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Web-Node:
      - www192
      Content-Type:
      - application/json; charset=utf-8;
      X-Cms:
      - '1'
      X-Varnish-Host:
      - varnish7
    body:
      encoding: UTF-8
      string: |
        {"results":{"opensearch:Query":{"#text":"","role":"request","searchTerms":"Robbers & Cowards","startPage":"1"},"opensearch:totalResults":"1","opensearch:startIndex":"0","opensearch:itemsPerPage":"50","albummatches":{"album":{"name":"Robbers & Cowards","artist":"Cold War Kids","id":"3251702","url":"http:\/\/www.last.fm\/music\/Cold+War+Kids\/Robbers+&+Cowards","image":[{"#text":"http:\/\/userserve-ak.last.fm\/serve\/34s\/9197957.jpg","size":"small"},{"#text":"http:\/\/userserve-ak.last.fm\/serve\/64s\/9197957.jpg","size":"medium"},{"#text":"http:\/\/userserve-ak.last.fm\/serve\/126\/9197957.jpg","size":"large"},{"#text":"http:\/\/userserve-ak.last.fm\/serve\/300x300\/9197957.jpg","size":"extralarge"}],"streamable":"1","mbid":"1cd89dd6-158f-43c8-8a36-70546defb4a9"}},"@attr":{"for":"Robbers & Cowards"}}}
  recorded_at: Mon, 20 Jan 2014 22:30:59 GMT
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?album=Robbers%20%26%20Cowards&api_key=<LASTFM
      API KEY>&artist=Cold%20War%20Kids&format=json&method=album.getInfo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Web-Node:
      - www232
      Content-Type:
      - application/json; charset=utf-8;
    body:
      encoding: UTF-8
      string: |
        {"album":{"name":"Robbers & Cowards","artist":"Cold War Kids","id":"3251702","mbid":"1cd89dd6-158f-43c8-8a36-70546defb4a9","url":"http:\/\/www.last.fm\/music\/Cold+War+Kids\/Robbers+&+Cowards","releasedate":"    11 Nov 2008, 00:00","image":[{"#text":"http:\/\/userserve-ak.last.fm\/serve\/34s\/9197957.jpg","size":"small"},{"#text":"http:\/\/userserve-ak.last.fm\/serve\/64s\/9197957.jpg","size":"medium"},{"#text":"http:\/\/userserve-ak.last.fm\/serve\/174s\/9197957.jpg","size":"large"},{"#text":"http:\/\/userserve-ak.last.fm\/serve\/300x300\/9197957.jpg","size":"extralarge"},{"#text":"http:\/\/userserve-ak.last.fm\/serve\/_\/9197957\/Robbers++Cowards+Cold+War+Kids++Robbers++Coward.jpg","size":"mega"}],"listeners":"333892","playcount":"7387537","tracks":{"track":[{"name":"We Used to Vacation","duration":"241","mbid":"82b38cde-d4c0-4d41-b4eb-d230287c8784","url":"http:\/\/www.last.fm\/music\/Cold+War+Kids\/_\/We+Used+to+Vacation","streamable":{"#text":"1","fulltrack":"0"},"artist":{"name":"Cold War Kids","mbid":"0741b30d-e15b-4a8c-b2e5-8834a03d6116","url":"http:\/\/www.last.fm\/music\/Cold+War+Kids"},"@attr":{"rank":"1"}},{"name":"Hang Me Up to Dry","duration":"216","mbid":"0828547a-fea2-4cbb-97d8-c2bf35874d80","url":"http:\/\/www.last.fm\/music\/Cold+War+Kids\/_\/Hang+Me+Up+to+Dry","streamable":{"#text":"1","fulltrack":"0"},"artist":{"name":"Cold War Kids","mbid":"0741b30d-e15b-4a8c-b2e5-8834a03d6116","url":"http:\/\/www.last.fm\/music\/Cold+War+Kids"},"@attr":{"rank":"2"}},{"name":"Tell Me in the Morning","duration":"217","mbid":"1280ef5b-d75a-43ce-a9bb-da6fff5deaf5","url":"http:\/\/www.last.fm\/music\/Co[...]
