---
http_interactions:
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?api_key=<LASTFM API KEY>&format=json&method=track.search&track=65daysofstatic
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Web-Node:
      - www99
      Content-Type:
      - application/json; charset=utf-8;
      X-Cms:
      - '1'
      X-Varnish-Host:
      - varnish7
    body:
      encoding: UTF-8
      string: |
        {"results":{"opensearch:Query":{"#text":"","role":"request","searchTerms":"65daysofstatic","startPage":"1"},"opensearch:totalResults":"1991","opensearch:startIndex":"0","opensearch:itemsPerPage":"30","trackmatches":{"track":[{"name":"Radio Protector","artist":"65daysofstatic","url":"http:\/\/www.last.fm\/music\/65daysofstatic\/_\/Radio+Protector","streamable":{"#text":"1","fulltrack":"0"},"listeners":"141130","image":[{"#text":"http:\/\/userserve-ak.last.fm\/serve\/34s\/94767059.png","size":"small"},{"#text":"http:\/\/userserve-ak.last.fm\/serve\/64s\/94767059.png","size":"medium"},{"#text":"http:\/\/userserve-ak.last.fm\/serve\/126\/94767059.png","size":"large"},{"#text":"http:\/\/userserve-ak.last.fm\/serve\/300x300\/94767059.png","size":"extralarge"}],"mbid":"555e9eb5-e88c-4b35-b428-82dab53e381a"},{"name":"Retreat! Retreat!","artist":"65daysofstatic","url":"http:\/\/www.last.fm\/music\/65daysofstatic\/_\/Retreat!+Retreat!","streamable":{"#text":"1","fulltrack":"0"},"listeners":"139453","image":[{"#text":"http:\/\/userserve-ak.last.fm\/serve\/34s\/34146503.jpg","size":"small"},{"#text":"http:\/\/userserve-ak.last.fm\/serve\/64s\/34146503.jpg","size":"medium"},{"#text":"http:\/\/userserve-ak.last.fm\/serve\/126\/34146503.jpg","size":"large"},{"#text":[...]
[...]
